Checks: checks=-*,bugprone*,clang-analyzer-cplusplus*,cppcoreguidelines*,-cppcoreguidelines-avoid-c-arrays,-cppcoreguidelines-avoid-magic-numbers,-cppcoreguidelines-pro-type-vararg
HeaderFilterRegex: lexio/include/lexio.*\.h$
